<div class="main">
  <!-- <div class="row">
      <app-searchbar class="w-100"></app-searchbar>
  </div> -->
  <!-- <div class="row">
      <div class="col-sm-3">
          <app-catagory-sidebar></app-catagory-sidebar>
      </div>
      <div class="col-sm-9">
          <app-homeslider></app-homeslider>
      </div>
  </div> -->
  <div class="row">
      <div class="col-sm-12">
            <app-catagory-sidebar></app-catagory-sidebar>
      </div>
  </div>
  <div class="row">
      <!-- <app-view-all-product></app-view-all-product> -->
      <home-allProduct style="width: 100%"></home-allProduct>
  </div>
</div>
