<div class="main-content">
  <div class="container-fluid">
    <div class="viewHeader">
      <div class="content">
        <p>View :</p>
        <button (click)="changeView('block')" class="btn myBtn btn-fab btn-fab-mini btn-round">
                <i class="material-icons">dashboard</i>
        </button>
        <button (click)="changeView('list')" class="btn myBtn btn-fab btn-fab-mini btn-round">
                <i class="material-icons">reorder</i>
        </button>
      </div>
      <hr>
    </div>

    <div class="row" *ngIf="view=='block'">
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" *ngFor="let product of productList">
          <div class="cardBlock">
            <div class="product">
               <a [routerLink]="['/home/productView']" [queryParams]="{ID:product.prodId,action:'view'}">
                  <div class="product_image">
                      <img class="product_image_top" [src]="imageUrl+product.mainImage">
                   </div>
               </a>
                   <div class="product_body">
                      <div class="product_admin">
                          <img class="product_admin_image" src="../../assets/img/dummy.png">
                       </div>
                       <div class="product_description">
                          <h5 class="product_description_tital">{{ product.prodName }}</h5>
                          <p class="product_description_city"><i class="fas fa-map-marker-alt"></i> {{ product.city | uppercase }} </p>
                          <p class="product_description_date"><i class="fas fa-clock"></i> {{ product.createdDate | date }}</p>
                          <p class="product_description_catDetails"> <i class="fas fa-tag"></i> {{ product.category.catName }} > {{ product.subCategory.catName }}</p>
                       </div>
                       <div class="product_price">
                         <p class="product_price_1">Price: ₹ {{ product.price }}</p>
                       </div>
                   </div>
                </div>
               <div class="product_action">
                  <button (click)="reportedProduct(product.prodId)" title=" Report this ad" class="mybutton" data-toggle="modal" [attr.data-target]="reportform" type="button">
                      <i class="fas fa-exclamation-circle"></i>
                  </button> 
                  <button (click)="addToWishlist(product.prodId)" title=" Add to Wishlist" class="mybutton" data-toggle="modal" [attr.data-target]="login" type="button">
                      <i class="far fa-heart"></i>
                  </button>
                </div>
                
          </div>
        </div>
        <div class="row col-sm-12" *ngIf="count>limit">
            <button  type="button" class="loadmore" (click)="loadMoreProducts()">Load More</button>
          </div>
    </div>

    <!-- <div class="row" *ngIf="view=='block'">
      <div class="col-sm-3" *ngFor="let product of productList">
        <div class="card block">
          <a [routerLink]="['/home/productView']" [queryParams]="{ID:product.prodId}">
            <div class="imgBlock">
              <img height="300" class="card-img-top" [src]="imageUrl+product.mainImage">
            </div>
            <div class="card-body">
              <h5 class="productTital">{{ product.prodName }}</h5>
              <h6 class="productPrice">Price : INR.{{ product.price }}</h6>
              <p class="card-text">{{ product.prodDesc | slice:0:80 }} </p>

            </div>
          </a>
          <div class="rightBtn">
            <button (click)="reportedProduct(product.prodId)" title=" Report this ad" class="mybutton" data-toggle="modal" data-target="#reportform"
              type="button">
                          <i class="material-icons">
                            report
                            </i>
                       </button>
            <button (click)="addToWishlist(product.prodId)" title=" Add to Wishlist" class="mybutton" data-toggle="modal" type="button">
                        <i class="material-icons">
                          favorite_border
                          </i>
                     </button>
          </div>
        </div>
      </div>
      <div class="row">
        <button  type="button" (click)="loadMoreProducts()">Load More</button>
      </div>
    </div> -->
  
  
    <div class="row" *ngIf="view=='list'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let product of productList">
            <div class="featured-box">
              <figure>
                <!-- <div class="icon"> -->
                    <button (click)="addToWishlist(product.prodId)" class="icon" title=" Add to Wishlist"  data-toggle="modal" [attr.data-target]="login" type="button">
                        <i class="far fa-heart"></i>
                    </button>
                <!-- </div> -->
                <a [routerLink]="['/home/productView']" [queryParams]="{ID:product.prodId,action:'view'}"><img class="img-fluid" [src]="imageUrl+product.mainImage"></a>
              </figure>
            <div class="feature-content">
              <div class="tg-product">
                  {{ product.category.catName}} > {{ product.subCategory.catName }}
              </div>
            <h4><a href="ads-details.html">{{ product.prodName }}</a></h4>
                <span>Last Updated: {{ product.createdDate | date }}</span>
                  <ul class="address">
                    <li>
                        <i class="fas fa-map-marker-alt"></i> {{ product.city }}
                    </li>
                    <li>
                        <i class="fas fa-clock"></i> {{ product.createdDate | date }}
                    </li>
                    <li>
                        <i class="fas fa-user"></i> User Name
                    </li>
                    <li>
                        <i class="fas fa-tag"></i> {{ product.subCategory.catName }}
                    </li>
                  </ul>
                  <div class="description">
                    <p>{{product.prodDesc | slice:0:80 }}</p>
                  </div>
                  <div class="btn-list">
                      <a class="btn-price" (click)="reportedProduct(product.prodId)" title=" Report this ad" data-toggle="modal" [attr.data-target]="reportform">
                          <i class="fas fa-exclamation-circle"></i> Report Ad</a>
                      <a class="btn btn-common" [routerLink]="['/home/productView']" [queryParams]="{ID:product.prodId,action:'view'}">
                      ₹ {{product.price}}
                      </a>
                  </div>
                </div>
          </div>
          </div>
      <!-- <div class="col-sm-12" *ngFor="let product of productList">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="image col-sm-3">
                <img class="myImg" [src]="imageUrl+product.mainImage">
              </div>
              <div class="col-sm-6 detail">
                <h3 class="productTital">{{ product.prodName }}</h3>
                <h6 class="productPrice">Price : INR.{{ product.price }}</h6>
                <p class="card-text">{{ product.prodDesc | slice:0:40}} </p>
              </div>
              <div class="col-sm-2">
                <button (click)="reportedProduct(product.prodId)" class="btn add subCatBtn">Report Product</button>
                <button (click)="addToWishlist(product.prodId)" class="btn add subCatBtn">Add to Wishlist</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div id="reportform" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Report this ad</h5>
          <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="reportedAdForm" (ngSubmit)="reportFormOnSubmit()">

            <div class="form-group">
              <input type="radio" formControlName="description" value="Offensive Content"> Offensive Content<br>
              <input type="radio" formControlName="description" value="Duplicate Ad"> Duplicate Ad<br>
              <input type="radio" formControlName="description" value="Already Sold Product"> Already Sold Product<br>
              <input type="radio" formControlName="description" value="Damaged Product"> Damaged Product
             
            </div>
            <div class="form-group">
              <label for="inputAddress2">Comment</label>
              <input required type="text" autocomplete="off" formControlName="comment" class="form-control" id="productDesc" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Report</button>
          </form>
        </div>
      </div>
    </div>
  </div>




<!-- <div class="cardBlock">
  <div class="product">
    <img class="product_image" src="../../assets/img/dummy.png" alt="">
  </div>

</div> -->