.signup{
    background-color: #7b73d1 !important;
}
.bg-img{
    background-image: url("../../assets/img/BG.jpg");
    background-size: cover;
    background-position: center; 
}
div.row{
    background-color: #fff;
}