
    <form class="form" role="form">
      <div class="row">
        <div class="col-sm-6 no-padding">
          <input type="text" placeholder="Search for items..."> 
        </div>
        <div class="col-sm-2 no-padding">
          <select name="" id="" >
            <option value="option 1">Category 1</option>
            <option value="option 1">Category 2</option>
            <option value="option 1">Category 3</option>
            <option value="option 1">Category 4</option>
          </select>
        </div>
        <div class="col-sm-2 no-padding">
            <select name="" id="">
                <option value="option 1">SubCategory 1</option>
                <option value="option 1">SubCategory 2</option>
                <option value="option 1">SubCategory 3</option>
                <option value="option 1">SubCategory 4</option>
              </select>
        </div>
        <div class="col-sm-2 no-padding">
          <button type="submit" class="srchBtn">Search</button>
        </div>
      </div>
    </form>
