<div class="main">
    <div class="container">
        <div class="row view">
            <div class="col-sm-12 col-md-7 ">
                <div class="carousal">
                  
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" *ngIf="productView.imgNames" >
                          <div class="carousel-item fix-size active">
                            <img class="d-block fix-size-image " [src]="imageUrl+productView.mainImage" alt="First slide">
                          </div>
                          <div class="carousel-item fix-size" *ngFor="let images of productView.imgNames | splitkey">
                            <img class="d-block fix-size-image " [src]="imageUrl+images" alt="Second slide">
                          </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <hr>
                    <div class="col-sm-12">
                        <div id="carouselExample" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" *ngIf="productView.imgNames" >
                              <div class="carousel-item active" >
                                  <img class="myImg" *ngFor="let images of productView.imgNames | splitkey" [src]="imageUrl+images" alt="Second slide">
                              </div>
                            <a class="smallCarusal carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="smallCarusal carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="priceTag">
                        <p>₹ {{productView.price}}</p>
                    </div>
                    <div class="action">
                      <button (click)="addToWishlist(productView.prodId)" class="bgGrn"><i _ngcontent-c11="" class="far fa-heart"></i></button>
                      <button (click)="reportedProduct(productView.prodId)" title=" Report this ad" data-toggle="modal" [attr.data-target]="reportform" class="bgRed"><i _ngcontent-c11="" class="fas fa-exclamation-circle"></i></button>
                    </div>
                </div>
                <!-- <div class="time" *ngIf="productView.bid" >
                    <countdown (reached)="changeStatusToClose($event)" [text]="text" units=" Month | Days | Hours | Minutes | Seconds"  [end]="productView.bidTime"></countdown>
                </div>           -->
                 <!-- <div class="description"> 
                    <div class="details" *ngIf="attributeMap">
                      <h4 class="details_heading">Details</h4>
                      <div class="row">
                        <div class="col-sm-5">
                            <ul>
                                <li *ngFor="let attribute of attributeMap">
                                  <p class="name"><i class="fas fa-star-of-life"></i> {{attribute.attributeName}} :</p>
                                  <p class="value">{{attribute.attributeValue}}</p>
                                 </li>
                              </ul>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5"></div>
                      </div>
                      <hr style="margin-top:0;">
                    </div>
                    
                  <h2 class="description_heading">Description</h2>
                  <p class="description_detail">{{productView.prodDesc}}</p>
                </div> -->
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="detail">
                  <h2 class="detail_heading">{{ productView.prodName }}</h2>
                  <!-- <p class="detail_description">{{productView.prodDesc}}</p> -->
                  <div class="detail_meta">
                      <span><i class="far fa-clock"></i> {{  productView.createdDate  | date }}</span>
                      <span><i class="fas fa-map-marker-alt"></i> {{  productView.city }}</span>
                      <span><i class="far fa-thumbs-up"></i> {{ productView.likes}}</span>
                      <span><i class="far fa-eye"></i> {{  productView.views }}</span>
                      </div>
                </div>
                <div class="time" *ngIf="productView.bid && productView.status!='SOLD' " >
                    <span>Time Remaining :</span> <countdown (reached)="changeStatusToClose($event)" [text]="text" units=" Month | Days | Hours | Minutes | Seconds"  [end]="productView.bidTime"></countdown>
                </div>  
                <div class="userDesc">
                  <span>Posted By : {{ productView.userId.name }}</span>
                </div>
                <div class="detail_category">
                  <p>Type : <span style="color: #999; font-weight:400; text-transform: capitalize;">{{ productView.category.catName}}, {{ productView.subCategory.catName}}</span></p>
                 </div>  
                <!-- <h3 class="detail_heading" *ngIf="productView.attributes != null">Specifications</h3> -->
                 <h3 class="detail_heading" *ngIf="attributeMap">Specifications</h3>
                <div class="detail_specification" *ngIf="attributeMap" >
                    <ul class="detail_list">
                        <li *ngFor="let attribute of attributeMap">
                            <p class="name"><i class="far fa-arrow-alt-circle-right"></i> {{attribute.attributeName}} : {{attribute.attributeValue}}</p>
                        </li>
                    </ul>      
                </div>
                 <div class="actions" *ngIf="productView.status=='SOLD' ">
                    <h4 class="user_details_heading">This Product is Marked as Sold</h4>
                </div>
                <div class="actions" *ngIf="action!='myads' && productView.status!='SOLD' ">
                  <button *ngIf="!productView.bid" (click)="openModel('NOBID',productView.prodId)"   data-toggle="modal" class="buy" [attr.data-target]="intrestModel">I'm Intrested</button>
                  <button *ngIf="productView.bid" (click)="openModel('BID',productView.prodId)" data-toggle="modal" [attr.data-target]="bidModel" class="buy">Bid Now</button>
                   <button  *ngIf="productView.allowNumber "  class="call"><i class="fas fa-phone"></i>  {{productView.phoneNumber}}</button>
                   <button  *ngIf="productView.bid && action!='myads' && bidsOnProductList && bidsOnProductList.length>0  "  data-toggle="modal" data-target="#mybidsDetail" class="showBid">Show Last 5 Bids</button>
                  <!-- <button (click)="reportedProduct(productView.prodId)" title=" Report this ad" data-toggle="modal" [attr.data-target]="reportform" class="report">Report</button> -->
                </div>

                <!--BIDS ON THAT PRODUCT HERE  -->
                <!--STATUS CHECK HERE  -->
                <!--Bid enabled and seller is seeing -->
                <div class="table-responsive" *ngIf=" productView.bid && action=='myads' && bidsOnProductList && bidsOnProductList.length>0  ">
                  <button data-toggle="modal" data-target="#mybidsDetail" class="showBid">Show All Bids</button>
                </div>
                <!--Bid enabled and buyer is seeing , he will see previous five bids -->
                <!-- <div class="table-responsive" *ngIf="productView.bid && action!='myads' && bidsOnProductList && bidsOnProductList.length>0  ">
                  <button  data-toggle="modal" data-target="#mybidsDetail" class="showBid">Show Last 5 Bids</button>
                </div> -->

                <div class="table-responsive" *ngIf=" !productView.bid && action=='myads' && intrestOnProductList && intrestOnProductList.length>0  ">
                    <button  data-toggle="modal" data-target="#myIntrestDetail" class="showBid">Show All Intrested Person</button>
                </div>

                

                <!--BIDS TABLE CLOSEDd  -->
                <div class="actions" *ngIf="action=='myads' && productView.status!='SOLD' ">
                    <button  (click)="openClosedDeal(productView.prodId)" data-toggle="modal" data-target="#closedDeal" class="buy">Mark as Sold</button>
                </div>
           </div>
        </div>
      
        
      
      
        <div class="row">
          <div class="col-md-7">
              <div class="description"> 
                <h2 class="description_heading" >Description</h2>
                <p class="description_detail">{{productView.prodDesc}}</p>
                <div class="user_details">
                    <h4 class="user_details_heading" style="display: block; margin-bottom:20px; ">Seller Description</h4>
                    <img class="user_details_image" src="../../assets/img/dummy.png" alt="">
                    <h4 class="user_details_heading">{{ productView.userId.name }}<br></h4>
                    <!-- <h3 class="user_details_heading">{{ productView.userId.email }}</h3> -->
                  </div>
              </div>
          </div>
          <div class="col-md-5" *ngIf="action!='myads'">
                <div class="safty-tips">
                  <h4 class="safty-tips-heading">Safty Tips</h4>
                  <ul style="padding-left: 18px; padding-top: 20px;">
                    <li>Meet seller on a safe location.</li>
                    <li>Check the item Before you buy.</li>
                    <li>Pay only after collecting them.</li>
                  </ul>
                </div>
          </div>

        </div>
      
          <div id="bidModel" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter Your Bid Here</h5>
                <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form role="form" [formGroup]="bidForm" (ngSubmit)="bidFormOnSubmit()">
      
                  <div class="form-group">
                    <label for="inputAddress2">Bid Amount</label>
                    <input required type="text" autocomplete="off" formControlName="bidAmount" class="form-control" id="bidAmount" placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label for="inputAddress2">Comment</label>
                    <input required type="text" autocomplete="off" formControlName="comment" class="form-control" id="comment" placeholder="">
                  </div>
                  <button type="submit" (click)="closepopup('bidModel')" class="btn btn-submit">Place my Bid</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="mybidsDetail" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" *ngIf='showOtherBidDetails' id="exampleModalLongTitle">All Bids on this Product</h5>
                  
                  <h5 class="modal-title" *ngIf='!showOtherBidDetails' id="exampleModalLongTitle">Last 5 Bids on this Product</h5>
                  <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" *ngIf=" bidsOnProductList && bidsOnProductList.length>0">
                        <thead class=" text-primary">
                            <th>Bidder Name</th>
                            <th *ngIf='showOtherBidDetails'>Bidder Number</th>  
                            <th>Bid Amount</th>
                            <th>Bid Date</th>
                            <th *ngIf='showOtherBidDetails'>Comment</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bid of bidsOnProductList"> 
                                <td>{{ bid.user.name }}</td>
                                <td *ngIf='showOtherBidDetails'>{{ bid.user.phoneNumber }}</td>
                                <td>{{ bid.bidAmount }}</td>
                                <td>{{ bid.bidDate|date }}</td>
                                <td *ngIf='showOtherBidDetails'>{{ bid.comment }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="bidsOnProductList.length==0">Sorry, There is no bids For this Product now.</p>  
                  </div>
              </div>
            </div>
          </div>




          <div id="myIntrestDetail" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"  id="exampleModalLongTitle">User who shows intrest</h5>
                  
                  <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" *ngIf=" intrestOnProductList && intrestOnProductList.length>0">
                        <thead class=" text-primary">
                            <th>User Name</th>
                            <th>User Number</th>  
                            <!-- <th>Bid Amount</th> -->
                            <th> Date</th>
                            <!-- <th *ngIf='showOtherBidDetails'>Comment</th> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let bid of intrestOnProductList"> 
                                <td>{{ bid.user.name }}</td>
                                <td >{{ bid.phoneNumber }}</td>
                                <!-- <td>{{ bid.bidAmount }}</td> -->
                                <td>{{ bid.intrestDate|date }}</td>
                                <!-- <td *ngIf='showOtherBidDetails'>{{ bid.comment }}</td> -->
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="intrestOnProductList.length==0">Sorry, There is no intrest For this Product now.</p>  
                  </div>
              </div>
            </div>
          </div>

          



        <div id="closedDeal" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tell us how u sold the product?</h5>
                <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form role="form" [formGroup]="closedDealForm" (ngSubmit)="closedDealFormOnSubmit()">
                   <div class="form-group">
                  <input type="radio" formControlName="message" value="Met the buyer on portal"> Met the buyer on portal<br>
                  <input type="radio" formControlName="message" value="Sold to a bidder on portal">Sold to a bidder on portal<br>
                  <input type="radio" formControlName="message" value="Sold the product outside of portal">Sold the product outside of portal<br>
                  <input type="radio" formControlName="message" value="Item is not available anymore">Item is not available anymore<br>
                  <input type="radio" formControlName="message" value="Don't want to sell the product anymore">Don't want to sell the product anymore
                  </div>
                  
                  <button type="submit" (click)="closepopup('closedDeal')" class="btn btn-primary">Mark as sold</button>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div id="reportform" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Report this ad</h5>
                <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form role="form" [formGroup]="reportedAdForm" (ngSubmit)="reportFormOnSubmit()">
      
                  <div class="form-group">
                    <input type="radio" formControlName="description" value="Offensive Content"> Offensive Content<br>
                    <input type="radio" formControlName="description" value="Duplicate Ad"> Duplicate Ad<br>
                    <input type="radio" formControlName="description" value="Already Sold Product"> Already Sold Product<br>
                    <input type="radio" formControlName="description" value="Damaged Product"> Damaged Product
                   
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Comment</label>
                    <input required type="text" autocomplete="off" formControlName="comment" class="form-control" id="productDesc" placeholder="">
                  </div>
                  <button type="submit" (click)="closepopup('reportform')" class="btn btnReport">Report</button>
                </form>
              </div>
            </div>
          </div>
        </div>



        <div id="iamIntrestedModel" class="modal fade card-body" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter details</h5>
                <button type="button" class="close" #closeAddExpenseModal data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form role="form" [formGroup]="intrestForm" (ngSubmit)="intrestFormOnSubmit()">
      
                  
                  <div class="form-group">
                    <label for="inputAddress2">We would share your details with the seller and they would contact you</label>
                    
                    <label for="inputAddress2">Please specify the number to call you:</label>
                    
                    <input  type="number" autocomplete="off" formControlName="phoneNumber" class="form-control" id="productDesc" placeholder="Enter your number">
                    
                  </div>
                   <div class="row">
                      <div class="col-md-12">
                          <mat-checkbox type='checkbox' formControlName="profileNumber" (change)='enableDisable($event.checked)' >Use the number mentioned in my profile</mat-checkbox>    
                      </div>
                  </div>
                  <button type="submit" (click)="closepopup('iamIntrestedModel')" class="btn btnReport">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>




      </div>
</div>


