<div class="row main">
  <div class="container">
    <div class="col-sm-12 terms" *ngIf="action=='terms'">
        <h2>Terms & Conditions</h2>
      <ol>
        <li>General Remarks.
          <p>Welcome to www.Aclassdeal.com
              This is an agreement between you and Aclassdeal. This agreement governs your use of Aclassdeal and all its services.
              Aclassdeal provides its services free of cost and free of registration.
              Please carefully read these terms of use. By using this platform, you indicate your understanding and unequivocal
              acceptance of these terms. If you do not agree to these terms you may not use the platform.
              All amendments to this website once posted shall become active within 48 hours notwithstanding which, by using the
              service in any way, you are agreeing to comply with these terms and conditions.</p>
        </li>
        <li>What is Aclassdeal.com?
          <p>Aclassdeal is a community site with the purpose to establish contacts especially for the buying and selling of Goods &amp;
              Services through classifieds on the World Wide Web.
              We act as a venue to allow our users who comply with these Terms to offer, sell, and buy products and services listed
              on the Platform. Aclassdeal only provides information entered by our users! You understand that all information you
              enter (including images or external links or any other material or any other information you enter or link in or out),
              referred to hereafter as &quot;listing&quot; or &quot;items&quot; or &quot;information&quot;, are the sole responsibility of the user entering the
              information. The right to publish any material, or edit it, lies solely with the user and if you have posted it, with you.
              Aclassdeal is not responsible for any non-performance or breach of any contract entered between users inter se.
              Aclassdeal cannot and does not guarantee that the concerned users will perform any transaction. Aclassdeal shall not
              and is not required to mediate or resolve any dispute or disagreement between users.
              Aclassdeal does not make any representation or warranty as to the attributes (such as quality, worth, marketability,
              etc.) of the items or services proposed to be sold or purchased on the site or to other user generated content. And it is
              not the obligation of Aclassdeal to control the listings or information given by users. Aclassdeal does not implicitly or
              explicitly support or endorse the sale or purchase of any items on the site. Aclassdeal accepts no liability for any errors
              or omissions, whether on behalf of itself or third parties.
              Aclassdeal does not make any representation or warranty as to the attributes (such as legal title, creditworthiness,
              identity, etc.) of any of its users. You are advised to independently verify the bona fides of any particular user that you
              choose to deal with and use your best judgment in that regard.
              Aclassdeal is only providing a platform for communication and it is agreed that the contract for sale of any of the
              products or services shall be a strictly bipartite contract between the seller and the interested user which may become
              a buyer. At no time shall any right, title or interest over the items vest with Aclassdeal nor shall Aclassdeal have any
              obligations or liabilities in respect of such contract.
              You shall independently agree upon the manner and terms and conditions of delivery with the other users that you
              transact with.
              Aclassdeal cannot control the information provided by other users which is made available on the site. You may find
              another user&#39;s information to be offensive, harmful, inaccurate, or deceptive. Please use caution, common sense, and
              practice safe trading while using the site. It is up to you to evaluate the given information and you bear the risks
              associated of using the site (e.g. clicking external links). Please use caution and avoid undertaking risks of dealing with
              foreign nationals, underage persons or people acting under false pretense.
              So, you agree that the use of Aclassdeal is at your own risk. Aclassdeal is not liable in any way whatsoever.</p>
        </li>
        <li>Eligibility
          <p>Use of www.Aclassdeal.com,either by registration or by any other means, is available only to persons, who are 18 yrs.
              of age and above and persons who can enter into a legally binding contract, and are not barred by any law for the time
              being in force. If you access Aclassdeal, either by registration on the Site or by any other means, not as an individual
              but on behalf of a legal entity, you represent that you are fully authorized to do so and the listing, posting or
              information placed on the site on behalf of the legal entity is your responsibility and you agree to be accountable for
              the same to other users of the Site.</p>
        </li>
        <li>Content
          <p>The Site contains content which includes Your Information. You agree not to copy, modify, or distribute such content
              (other than Your Information), Aclassdeal copyrights or trademarks. When you give us any content as part of Your
              Information, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right
              and license to use, reproduce, publish, translate, distribute, perform and display such content (in whole or part)
              worldwide through the Site as well as on any of our affiliates or partners websites, publications and mobile platform.
              We need these rights with respect to the content in Your Information in order to host and display your content. If you
              believe that there is a violation, please notify us by clicking here support@Aclassdeal.com.
              We reserve the right to remove any such content based on reasonable grounds that are in violation of these terms and
              our Listing Policy or contrary to any party&#39;s legitimate rights.</p>
        </li>
        <li>Exclusion of Liability
          <p>You agree not to hold www.Aclassdeal.com or any of its officers, employees, agents responsible or accountable for
              any of your listing, postings or information and nor shall we, our officers, employees or agents be liable for any
              misuse, illegal activity or third party content as most postings, listings or information are generated by various users
              directly and we do not have any role in the creation, publication or distribution of the posting, listing or information,
              nor are we in a position to have editorial control over the substance or content contained in the listings, postings, or
              information. We are not responsible or liable in any manner for user generated content
              You understand and agree that we do not guarantee the accuracy or legitimacy of any listing, posting, information by
              other users. You further agree that we are not liable for any loss of money, goodwill, or reputation, or any special,
              indirect, or consequential damages arising out of your use of the site or as a result of any sale, purchase of goods and
              services with other users of the site. We also cannot guarantee continuous or secure access to our Services.
              Accordingly, to the extent legally permitted we exclude all implied warranties, of merchantability, fitness or quality of
              the Site and our services.</p>
        </li>
        <li>Authenticity of information
          <p>You attest that all information provided by you to the Aclassdeal platform is accurate. If you provide any information
              that is untrue, inaccurate, not current or incomplete or Aclassdeal has reasonable grounds to suspect that such
              information is untrue, inaccurate, not current or incomplete, or not in accordance with the terms and conditions,
              Aclassdeal has the right to indefinitely suspend or terminate the relation with you, delete any of your content from the
              website and refuse to provide you with access to the site.</p>
        </li>
        <li>Aclassdeal is allowed to terminate the users access
          <p>Aclassdeal may edit, delete listings, block the users IP address or terminate the users access without giving any reason,
              without prior notice and for whatever reason and without liability to the user or any third party for this. This is
              especially the case if:</p>
              <ol>
                <li>You breach this agreement.</li>
                <li>Aclassdeal cannot verify or authenticate the information provided by you.</li>
                <li>Aclassdeal believes that your actions may cause you loss or believes that your actions may cause any type of
                    loss to Aclassdeal or other users of Aclassdeal.</li>
                <li>If any irrelevant classified has been posted under any category/city.</li>
                <li>Any other reasonable ground.</li>
              </ol>
        </li>
        <li>Electronic Communication
          <p>All communication between Aclassdeal and its members shall be through email only. All such electronic documents
              are legal equivalents to written documents and will be treated as the same.</p>
        </li>
        <li>Mobile &amp; SMS
          <p>If you are a verified mobile user of Aclassdeal, we have all rights to add your number into our SMS list.</p>
        </li>
        <li>Control of Information
          <p>By posting all materials and information at Aclassdeal, you grant Aclassdeal the permission to:</p>
            <ol>
              <li>send promotional and informational email to you.</li>
              <li>Use, copy, distribute, transmit, or translate such information Sub license these rights to an extent that is permissible by law</li>
            </ol>
        </li>
        <li>Aclassdeal makes no Warranty
          <p>We, our subsidiaries, officers, directors, employees and our suppliers provide our web site and services &quot;as is&quot; and
              without any warranty or condition, express, implied or statutory. We, our subsidiaries, officers, directors, employees
              and our suppliers specifically disclaim any implied warranties of title, merchantability, fitness for a particular purpose
              and non-infringement.</p>
        </li>
        <li>Liability limitation
          <p>Under no circumstances will Aclassdeal be held liable for any damages, including without limitation any indirect,
              consequential, special, incidental, or punitive damages,loss of data,loss of use,loss caused by virus,loss of income or
              profit,claims of third parties or other losses of any kind of character arising out of or in connection with the use of this
              site or, based on, or resulting from this agreement,even if Aclassdeal has been advised by any party of the possibility
              of such damages. Aclassdeal is not liable for links to external websites which you may find on the website. If you are
              dissatisfied with Aclassdeal or its affiliates, you do not agree with any part of this agreement, or you have any other
              dispute or claim with or against Aclassdeal with respect to this agreement, then your sole and exclusive remedy is to
              discontinue using the website.</p>
        </li>
        <li>Your posting is not a contract nor a binding offer.
          <p>Your posting does not bind Aclassdeal to complete the transaction and mere posting is not a contract. By posting you
              are not entering into an agreement to complete the transaction.</p>
        </li>
        <li>Your reply to a post is not a contract nor a binding offer.
          <p>Your reply to a posting is not a contract nor a binding offer. By responding to a posting, you are not entering into an
              agreement to complete the transaction. It is simply a first step of your general interest, such as entering a shop will
              not force you to buy something.</p>
        </li>
        <li>Restricted Activity
          <p>The site (Aclassdeal) and its services may only be used for lawful purposes alone and in a lawful manner. You may not
              act under a false name. You may not show interest under a false identity or impersonate another user. Such
              fraudulent activity may be reported to the concerned law enforcement authorities and violators shall be prosecuted in
              accordance with the provisions of the law. At no point of time during your use of our site your activities shall involve
              the following:</p>
              <ul>
                <li>A posting that, directly or indirectly, offer, attempt to offer, trade or attempt to trade in any item,
                    the dealing of which is prohibited or restricted in any manner under the provisions of any
                    applicable law, rule, regulation or guideline for the time being in force in any way.</li>
                <li>The offer to sale of items that are stolen.</li>
                <li>Uploading viruses or bugs onto the server or any other activity that may cause Aclassdeal to lose
                    control over its ISP&#39;s or that may damage, detrimentally interfere with, surreptitiously intercept or
                    expropriate any system, data or personal information.</li>
                <li>Contact anyone who has asked not to be contacted.</li>
                <li>Use the email function on Aclassdeal to send unsolicited emails or use addresses found on
                    Aclassdeal to send unsolicited Mails (SPAM).</li>
                <li>Collect data from the Aclassdeal website about other users for commercial or unlawful usage
                    without consent of Aclassdeal.</li>
                <li>Infringe on a third party&#39;s rights, especially copyright, trademark, or patent as this could also land
                    you in legal trouble.</li>
                <li>The use of pornographic images or articles. Use abusive, sexually explicit or derogatory language.</li>
                <li>Linking images, feedback or articles from another site especially if they are copyrighted or get
                    attracted under intellectual property rights.</li>
                <li>Do any activities, which shall directly or indirectly amount to hacking.</li>
                <li>Without prejudice to the generality of the above, Aclassdeal does not permit transactions in the
                    &quot;Securities&quot; within the meaning of the Securities Contract Regulation Act, 1956, including shares,
                    bonds, debentures, etc. and/or any other financial instruments/assets of any description.</li>
                <li>Living, dead creatures and/or the whole or any part of any animal which has been kept or
                    preserved by any means whether artificial or natural including rugs, skins, specimens of animals,
                    antlers, horns, hair, feathers, nails, teeth, musk, eggs, nests, other animal products of any
                    description the sale and purchase of which is prevented or restricted in any manner by applicable
                    laws.</li>
                <li>Weapons of any description.</li>
                <li>Liquor, tobacco products, drugs, psychotropic substances, narcotics, intoxicants of any
                    description, medicines, palliative/curative substances.</li> 
                <li>Use robot, spider, scraper or other automated means to access the Site for any purpose without
                    our express written permission is prohibited.</li>
                <li>You will not engage in any activity that may interfere in proper working of the any measures we
                    use to restrict access to our website.</li>
                <li>The website reserves prior consent for use of any of its consent.</li>                                    
                <li>There will be no unauthorized access to data that is private and confidential.</li>
                <li>Any religious items, including books, artefacts, etc. which is likely to affect the religious sentiments
                    of any person.</li>
                <li>&quot;Antiquities&quot; and &quot;Art Treasures&quot; in violation of the provisions of the Antiquities and Art Treasures
                    Act, 1972.</li> 
                <li>Defamatory, trade libelous, unlawfully threatening or unlawfully harassing.</li>
                <li>Create liability for us or cause us to lose (in whole or in part) the services of our ISP&#39;s or other
                    suppliers; and</li>
                <li>Link directly or indirectly to include descriptions of items, goods or services that:
                  <ol>
                    <li>are prohibited under the terms and conditions;</li>
                    <li>you do not have a right to link to or include.</li>
                  </ol>
                </li>      
              </ul>
              <p>Help us to find restricted activity: Please send us an email to abuse@Aclassdeal.com in case you find any
              restricted activity on Aclassdeal.
            </p>
        </li>
        <li>Fees and Services
          <p>Aclassdeal does not charge any fee for browsing or replying. Premium Listing fees are charged to the users who use
              the Premium Feature for listing their classifieds. We reserve the right to change the fee structure. We may introduce
              new services and modify some or all of the existing services offered on the site. The fee paid by you to avail the
              Premium Feature will not be refundable. If the posting is fraud / irrelevant, we will delete the ad and NOT REFUND the
              money.</p>
        </li>
        <li>Interference
          <p>Aclassdeal and you are independent contractors and this agreement or the use of Aclassdeal services does not imply
              any partnership, joint venture, employee-employer or franchisee-franchise relationship.</p>
        </li>
        <li>Indemnity
          <p>The user agrees to defend, indemnify and hold Aclassdeal and all its affiliates harmless from all claims and expenses
              including attorney&#39;s fees, arising out of the use of Aclassdeal by the user.</p>
        </li>
      </ol>
    </div>
    <div class="col-sm-12 privacy" *ngIf="action=='privacy'">
      <h2>Privacy Policies</h2>
      <p>This privacy policy describes how we handle your personal information. Aclassdeal values the privacy of information pertaining to its users. We do not use or disclose information about your individual visits to our website. Please read this privacy statement carefully before using our Services. This privacy policy is incorporated to and subject to the Terms and Conditions of Aclassdeal.com</p>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Collection of Data:</span> Information posted on Aclassdeal is obviously publicly available. We collect and store the following personal information for a safe, efficient and customised experience of its users</p>
      <ul>
        <li>Email address, physical contact information, and (depending on the service used) sometimes financial information with highest diligence and integrity to fulfill contractual relationship or to provide the requested services necessary and required</li>
        <li>If you log in using your mobile number or email id, we use your first name and last name, mobile number and/or e-mail address to identify you as a user and provide access to our Platform.</li>
        <li>If you log in using your Facebook account, we use your first name and last name from your Facebook profile and the Facebook e-mail address to identify you as a user on our Platform and to provide you access to our Platform.</li>
      </ul>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Location Information:</span> Depending on your device permissions, if you post an item on our Platform, we automatically collect and process information about your actual location. We use various technologies to determine location, including IP address, GPS, Wi-Fi access points and mobile towers. Your location data allows you to see user items near you and helps you in posting items within your location. In case we need your location data we will first show you a pop-up which will ask you to choose to allow or not to allow us to access your location data. If you do not allow us to have access to your location data, you will still be able to use our Services but with limited functionality.</p>
      <p><strong>We use your location data for the following purposes:</strong></p>
      <ul>
        <li>To compile anonymous and aggregated information about the characteristics and behaviour of Aclassdeal users, including for the purposes of business analysis, segmentation and development of anonymous profiles.</li>
        <li>To enhance the performance of our Services and to personalise the content we direct towards you. For example - with the help of location data we display ad listings which are in your vicinity to improve your buying experience.</li>
        <li>To measure and monitor your interaction with the third-party advertisements banners we place on our Platform.</li>
      </ul>
      <p>With the help of your log-in information which includes your email ID and phone number, we map the different devices (such as desktop, mobile, tablets) used by you to access our Platform. This allows us to associate your activity on our Platform across devices and helps us in providing you a seamless experience no matter which device you use.</p>
      <p>We process the above information on the basis of our legitimate interest to improve your experience on our Platform and for the adequate performance of our contract with you.</p>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Use of Data.</span> We use users' personal information to:</p>
      <ul>
        <li> Provide our services</li>
        <li>Resolve disputes, collect fees, and troubleshoot problems</li>
        <li>Encourage safe trading and enforce our policies</li>
        <li>Customize users experience, measure interest in our services, and inform users about services and updates</li>
        <li>Communicate marketing and promotional offers to you</li>
        <li>Do other things for users as described when we collect the information.</li>
        <li>Enforce our Terms and Conditions</li>
      </ul>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Disclosure</span></p>
      <ul>
        <li>We may be required from time to time to disclose users’ personal information to Governmental or law enforcing agencies or our regulators, but we will only do so under proper authority.</li>
        <li>Aclassdeal also reserves the right to make use of the personal information in any investigation or judicial process relating to fraud on account of such transactions during the period Aclassdeal retains such information.</li>
        <li>We may also disclose personal information to enforce our policies, respond to claims that a posting or other content violates other’s rights, or protects anyone’s rights, property or safety.
          </li>
        <li>We may also share personal information with:<br>
            - Corporate affiliates who help detect or prevent potentially illegal acts and provide joint services (Our corporate affiliates will market only to users who ask them to).<br>
            - Service providers who help with our business operations.
            </li>
        <li>Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to the website.</li>
        <li>Google's use of the DoubleClick cookie enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet.
          </li>
        <li>Users may opt out of the use of the DoubleClick cookie for interest-based advertising by visiting Ads Settings.
          </li>
      </ul>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Cookies and Similar Technologies</span></p>
      <ul>
        <li>We use cookies to manage our users’ sessions, to store your preferences language selection and deliver you relevant advertisements. "Cookies" are small text files transferred by a web server to the hard drive of your device. Cookies may be used to collect the date and time of your visit, your browsing history, your preferences, and your username. You can set your browser to refuse all or some cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, please note that some parts of our Services/Platform may become inaccessible or not function properly.
          </li>
        <li>Computer sign-on data, statistics on page views, traffic to and from Aclassdeal and Ad data (all through cookies – you can take steps to disable the cookies on your browser although this is likely to affect your ability to use the site)</li>
        <li>Other information, including users IP address and standard web log information.
          </li>
      </ul>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">We use clickstream data to</span></p>
      <ul>
        <li>Offer you tailored content, such as giving you more relevant search results when using our Services.</li>
        <li>To determine how much time you spend on our Platform and in what manner you navigate through our Platform in order to understand your interests and to improve our Services based on this data. For example, we may provide you with suggestions on content that you can visit based on the contents you have clicked.
          </li>
        <li>To monitor and report the effectiveness of the campaign delivery to our business partners and for internal business analysis.</li>
      </ul>
      <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Communication and Marketing</span><br>
        We will communicate with you by email, SMS or in app notification in connection with our Services/Platform to confirm your registration, to inform you in case your ad listing has become live/expired and for other transactional messages in relation to our Services. As it is imperative for us to provide you such transactional messages you may not be able to opt -out of such messages.
      <br>
    <strong>You may receive marketing communications from us if you:</strong></p>
    <ul>
      <li>have requested such information from us;
        </li>
      <li>use our Platform or Services</li>
      <li>provided us with your details when you entered a competition; or
        </li>
      <li>registered for a promotion.
        </li>
    </ul>
    <p><span style="font-size: 16px; text-decoration: underline; font-weight: 600;">Links to third-party Websites</span></p>
    <p>Our Platform may contain links to third party websites or apps. If you click on one of these links, please note that each one will have its own privacy policy. We do not control these websites/apps and are not responsible for those policies. When you leave our Platform, we encourage you to read the privacy notice of every website you visit.
      </p>
      <p><span style="font-weight: 600;">Using Information from Aclassdeal.</span> You may use personal information gathered from Aclassdeal only to follow up with another user about a specific posting, not to send spam/ phishing or collect personal information from someone without their consent.
        </p>
      <p><span style="font-weight: 600;">Data Security.</span> We use a number of mechanisms (encryption, passwords, physical security) to protect the security and integrity of your personal information against unauthorized access and disclosure. Unfortunately, no data transmission over the internet can be guaranteed to be completely secure. So, while we strive to protect such information, we cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk. Once any personal information comes into our possession, we will take reasonable steps to protect that information from misuse and loss and from unauthorised access, modification or disclosure.</p>  
      <p><span style="font-weight: 600;">Confidentiality of Information.</span> Users who use any of the features on Aclassdeal agree and accept that they have been fully informed by Aclassdeal that the use of features may lead to publication, to all users of Aclassdeal, of any personal information posted by them while using any specific feature on Aclassdeal. Users further agree that the authenticity of, and consequences from the posting by users of any personal information of themselves or any other person, are the sole responsibility of the user. Users further agree and accept that the terms of the Privacy Policy will be applicable to the use of all features, existing and new. However, the Users agree and accept that confidentiality of information posted on such features has been waived by the Users of such features themselves.
        </p>
      <p><span style="font-weight: 600;">Amendment of policy.</span> We may update, upgrade, modify (partially &/or fully) this policy at any time, with updates taking effect when you next post or after 30 days, whichever is sooner. 
          You unconditionally agree that using this website signifies your assent to Aclassdeal.com's Privacy Policy. If you do not agree with this Privacy Policy, please refrain from using our website. Any dispute over privacy is subject to this policy and our terms of Use.
          </p> 
      <p><span style="font-weight: 600;">General.</span>  If we or our corporate affiliates are involved in a merger or acquisition, we may share personal information with another company, but this policy will continue to apply. Send questions about this policy to support@Aclassdeal.com.
          By posting on our site you give us the permission to display your content on our affiliate sites. Aclassdeal carefully selects the affiliates sites with which we can share our information. 
          <br>By posting on Aclassdeal.com, you agree to receive promotional communications from us (email and/or SMS) unless you specifically indicate otherwise in writing to us at info@Aclassdeal.com.
          We do not disclose any personal information to advertisers and for other marketing and promotional purposes that could be used to personally identify you, such as your password, credit card number and bank account number. 
          <br>
          By posting on Aclassdeal.com, you agree to receive promotional communications from us (email and/or SMS) unless you specifically indicate otherwise in writing to us at info@Aclassdeal.com.
          We do not disclose any personal information to advertisers and for other marketing and promotional purposes that could be used to personally identify you, such as your password, credit card number and bank account number. 
          </p>  
      <p><span style="font-weight: 600;">Query</span> If you have any queries relating to the processing/ usage of information provided by you or Aclassdeal Privacy Policy, you may email at mail id or write to us at support@Aclassdeal.com
      <br>We will enable you to communicate your privacy concerns to us and that we will respond to them appropriately. If you have any questions about our privacy policy, please contact us at info@Aclassdeal.com
      </p>
      <p><span style="font-weight: 600;"> General exceptions</span> <br>
        If we are required to intercept, disclose, monitor and/or store your personal information: (a) by law; (b) to conduct our business; (c) to secure our systems; or (d) to enforce our own rights, we will do so in the manner as prescribed by law. Such interception, disclosure, monitoring and storage may take place without your knowledge. In these cases, we will not be liable to you or any third party for any damages howsoever arising from such interception, disclosure, monitoring and storage.
      </p>       
    </div>
  </div>
</div>